.logo{
    text-align: center;
}

.logo a{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: teal;
    text-decoration: teal;
    text-align: center;
    vertical-align: center;
}
